# Gradle
# ------
.gradle
/build
/build-src/build
/build-src/subprojects/*/build
/buildSrc/build
/buildSrc/subprojects/*/build
/subprojects/*/build
/code-quality/build
/code-quality/*/build
/distribution/core/build
/distribution/core/*/build
/distribution/plugins/*/build
/distribution/plugins/*/*/build
/documentation/build
/documentation/*/build
/end-2-end-tests/build
/end-2-end-tests/*/build
/distribution/fixtures/build
/distribution/fixtures/*/build
/distribution/fixtures/internal-android-performance-testing/build-android-libs
/portal-plugins/build
/portal-plugins/*/build
/documentation/docs/src/samples/**/build
/documentation/docs/src/snippets/**/build

# IDEA
# ----
!/.idea
/.idea/*
!/.idea/codeStyles
!/.idea/inspectionProfiles
!/.idea/icon.png
!/.idea/icon_dark.png
*/**/.idea
.shelf
/*.iml
/*.ipr
/*.iws
/buildSrc/.idea
/buildSrc/.shelf
/buildSrc/*.iml
/buildSrc/*.ipr
/buildSrc/*.iws
/buildSrc/out
/buildSrc/subprojects/*/*.iml
/buildSrc/subprojects/*/out
/out
/subprojects/*/*.iml
/subprojects/*/out
/.teamcity/*.iml
/.teamcity/target

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# macOS
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
/incoming-distributions
intTestHomeDir

# Logs
# ----
/*.log

# oh-my-zsh gradle plugin
.gradletasknamecache
